body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Fotoğraf kutusu */
.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
